.software {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 1200px) {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 1100px) {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 1000px) {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 900px) {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 800px) {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 700px) {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 600px) {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 500px) {
        background: url(software.png) 0 0px;        
}

.software (max-device-width 400px) {
        background: url(software.png) 0 0px;        
}
